/* Estilo Global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F3F1E5;
    color: #2E2E2E;
  }
  
  /* Header */
  header {
    background-color: #3B3B58;
    color: #FFFFFF;
    padding: 15px 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo h1 a {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #D4A373;
    text-decoration: none;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    margin: 0 20px;
  }
  
  .menu ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu ul li a:hover {
    background-color: #D4A373;
    color: #3B3B58;
    border-radius: 5px;
  }
  
  .buscador {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .buscador input {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D4A373;
    outline: none;
    transition: width 0.4s;
  }
  
  .buscador input:focus {
    width: 300px;
  }
  
  .buscador i {
    position: absolute;
    right: 10px;
    color: #3B3B58;
  }
  
  .iconos {
    display: flex;
    align-items: center;
  }
  
  .iconos .carrito, .iconos .usuario {
    background-color: #D4A373;
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    color: #3B3B58;
  }
  
  .iconos .carrito:hover, .iconos .usuario:hover {
    background-color: #3B3B58;
    color: #FFFFFF;
  }
  
  /* Main */
  main {
    padding: 60px 20px;
  }
  
  /* Detalle del Producto */
  .detalleProducto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .imagenDetalle {
    flex: 1;
    padding: 15px;
  }
  
  .imagenDetalle img {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    
    background-color: #3B3B58;
  }
  
  .infoProducto {
    flex: 2;
    max-width: 500px;
     
  }
  
  .infoProducto .titulo {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
  }
  
  .infoProducto .subtitulo {
    font-size: 22px;
    color: #D4A373;
    margin: 5px 0;
  }
  
  .infoProducto .disponibles,
  .infoProducto .precio {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .contador {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .contador-btn {
    background-color: #D4A373;
    color: #3B3B58;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .contador-btn:hover {
    background-color: #3B3B58;
    color: #FFFFFF;
  }
  
  .contador-cantidad {
    font-size: 20px;
    margin: 0 10px;
  }
  
  .añadirAlCarrito {
    background-color: #795204;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .añadirAlCarrito:hover {
    background-color: #3B3B58;
  }
  
  .descripcionProducto {
    margin-top: 20px;
  }
  
  .descripcionProducto h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  .descripcionProducto p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
  }
  
  /* Recomendados */
  .recomendados {
    margin-top: 40px;
    text-align: center;
    padding: 15px;
  
  }
  
  .recomendados h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .Carrusel{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px;
    background-color: #D4A373;
  }
  .Carrusel h2{
    font-size: 26px;
    line-height: 38px;
    padding-top: 15px;
    padding-bottom: 24px;
    opacity: .9;
    /* -webkit-text-stroke: 1px rgb(39, 11, 99, 0.6)  ; Para navegadores webkit (Chrome, Safari, etc.) */
    letter-spacing: 5px;
    
  }
  
  /* images */
  
  .slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
  }
  .slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
  }
  .slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
  }
  .slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
  }
  .slick h4 small{
    font-size: 15px;
    display: block;
  }
  .slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
    margin-bottom: 25px;
  }
  .slick a img:hover{
    opacity: .85;
  }
  
  /* buttons */
  
  .slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
  }
  .slick-arrow:focus{
    outline: 0;
  }
  .slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
    
  }
  .slick-prev{
    left: 0px;
    
  }
  .slick-next{
    right: 0px;
  }
  
  /* Footer */
  footer {
    background-color: #3B3B58;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }
  