<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', { extraCSS: '<link rel="stylesheet" href="stylesheets/nosotros.css">' }) %>

    <body>
        
        <%- include('./partials/header')%>
        
        
        <main>
            <section class="about">
                <h2>Sobre Nosotros</h2>
                    <p>En Fantasy World, creemos que los libros tienen el poder de transportarnos a mundos inimaginables, despertar nuestra creatividad y hacernos vivir aventuras inolvidables. Somos una librería online especializada en literatura de fantasía, dedicada a ofrecer una selección cuidadosamente curada de los mejores títulos del género.</p>
                    <p> Desde épicas sagas de héroes valientes hasta historias mágicas llenas de criaturas extraordinarias, nuestro objetivo es acercarte a las obras que han marcado generaciones y seguirán inspirando a futuros lectores. Trabajamos con editoriales reconocidas y autores emergentes para brindarte una amplia variedad de libros que alimenten tu imaginación y te permitan explorar nuevos horizontes.
                    Nos apasiona la lectura y queremos compartir esa pasión contigo. Por eso, además de ofrecerte un catálogo diverso y actualizado, en Fantasy World también encontrarás recomendaciones personalizadas, reseñas detalladas y un espacio para que los lectores puedan compartir sus opiniones y descubrimientos.</p>
                    <p>Nuestro compromiso es brindarte la mejor experiencia de compra, con un sitio web intuitivo, envíos rápidos y un servicio al cliente siempre dispuesto a ayudarte. Porque sabemos que cada historia cuenta, y queremos que encuentres la próxima que te hará soñar.</p>
                    <p class="unete">¡Únete a nuestra comunidad y deja que la magia de la fantasía transforme tu mundo!</p>
                        
            </section>
        </main>
        
        <%- include('./partials/footer')%>

        <script src="javascripts/menuToggle.js"></script>
    </body>
</html>