<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/productDetail.css">
    <script src="https://kit.fontawesome.com/ad49d26689.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Fantasy World</title>
</head>
<body>
    <header>
        <div class="container">
            <!-- Menu Hamburguesa -->
            <div class="menu-toggle" id="menuToggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <!-- Logo -->
            <div class="logo">
                <h1><a href="./index.html">Fantasy World</a></h1>
            </div>
            
            <!-- Menu Principal -->
            <nav class="menu" id="menu">
                <ul>
                    <li><a href="./home.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="">Libros</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>

            <!-- Buscador -->
            <div class="buscador">
                <input type="search" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <!-- Iconos de usuario y Carrito -->
            <div class="iconos">
                <div class="carrito" id="cartIcon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="cart-count" id="cartCount">0</span>
                </div>
                <div class="usuario">
                    <i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div id="cart-notification" class="hidden">Producto agregado al carrito</div>

        </div>
    </header>

    <main>
        <section class="detalleProducto">
            <div class="imagenDetalle">
                <img src="../public/images/Libro A traves de mi ventana.jpeg" alt="Descripción del Producto">
            </div>
            <div class="infoProducto">
                <h1 class="titulo">Titulo del Producto</h1>
                <h2 class="subtitulo">Lorem ipsum dolor sit.</h2>
                <p class="disponibles">Disponibilidad: 4</p>
                <h2 class="precio">Precio: $0.00</h2>
                <div class="contador">
                    <button class="contador-btn">-</button>
                    <span class="contador-cantidad">1</span>
                    <button class="contador-btn">+</button>
                    <div class="boton-container">
                    <button class="añadirAlCarrito">Añadir al Carrito</button>
                    </div>
                </div>
                
            </div>
           
        </section>
        <section>
        <div class="descripcionProducto">
            <h2>Descripción del Producto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde doloribus ipsum enim odit architecto culpa animi deleniti, perferendis impedit libero quia harum ratione voluptates laboriosam adipisci, quasi reprehenderit dolor explicabo!
            Consequatur odit et laudantium sunt placeat voluptates beatae esse, doloribus rerum est molestias debitis, facere alias ea ratione incidunt maxime atque, quo minus nesciunt neque non deleniti officia sed? Nostrum!
            Harum, dicta tenetur error odio repellendus ipsam aut distinctio blanditiis quasi, unde provident vero veniam quidem aliquid dolorem ratione vitae atque earum. Ipsum totam excepturi cum libero voluptatem corporis reprehenderit.</p>
        </div>
        

        <section class="recomendados">
            <div class="Carrusel">
              <h2>Recomendados</h2>
              <div class="slick-list" id="slick-list">
                <button class="slick-arrow slick-prev" id="button-prev">
                  &#10094;
                </button>
                <div class="slick-track" id="track">
                  <div class="slick"><img src="../public/images/De Lukov, con amor.jpeg" alt="De Lukov, con amor"></div>
                  <div class="slick"><img src="../public/images/Libro El Diario de Ana Frank.jpg" alt="El Diario de Ana Frank"></div>
                  <div class="slick"><img src="../public/images/Libro Lascivia.jpg" alt="Lascivia"></div>
                  <div class="slick"><img src="../public/images/Portada del Libro Cada Niña que murio.jpg" alt="Cada Niña que murio"></div>
                  <div class="slick"><img src="../public/images/Portada del Libro Cinder.jpeg" alt="Cinder"></div>
                  <div class="slick"><img src="../public/images/Portada del Libro de Actividades para preescolar.jpg" alt="Actividades para preescolar"></div>
                  <div class="slick"><img src="../public/images/Portada del Libro No es lo que parece.jpg" alt="No es lo que parece"></div>
                  <div class="slick"><img src="../public/images/Portada del Libro Winter.jpeg" alt="Winter"></div>
                </div>
                <button class="slick-arrow slick-next" id="button-next">
                  &#10095;
                </button>
              </div>
            </div>
          </section>
    </main>

    <footer>
        <p>&copy; 2024 Fantasy World. Todos los derechos reservados.</p>
    </footer>

    <script src="../public/javascripts/productDetail.js"></script>
</body>
</html>
