/* Teléfonos móviles (diseño principal) */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #F3F1E5;
  color: #2E2E2E;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #3B3B58;
  color: #FFFFFF;
  padding: 10px 0px;
  text-align: center;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.logo h1 a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: italic;
  color: #D4A373;
  text-decoration: none;
}

/* Menú */
.menu {
  display: none;
  width: 100%;
}

.menu.active{
  display: flex; 
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 400px; /* Limita el ancho */
  padding: 0px 0px 10px 0px; /* Espaciado interno */
 
}

.menu-toggle {
  display: flex; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
  flex-direction: column;
  cursor: pointer;
  margin: 10px 0px 2px 0px;
}

.menu-toggle .bar {
  /*Modificaciones para el icono de hamburgues*/
  width: 25px; 
  height: 3px;
  background-color: #FFFFFF;
  margin: 3px 0;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.menu ul li {
  text-align: center;
  width: 100%;
}

.menu ul li a {
  /* Diseño para efecto de navegacion */
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.menu ul li a:hover {
  background-color: #D4A373;
  color: #3B3B58;
  border-radius: 5px;
}

/* Buscador */
.buscador {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
}

.buscador input {
  width: 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #D4A373;
  outline: none;
}

.buscador i {
  position: absolute;
  color: #3B3B58; 
  right: 10px; /* Ajusta la posición a la derecha */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer;
}

.buscador input {
  /* Efecto del buscador */
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D4A373;
  outline: none;
  transition: width 0.4s;
}

.buscador input:focus{
 width: 400px;
}

/* Íconos */
.iconos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.iconos .carrito, .iconos .usuario {
  background-color: #D4A373;
  padding: 8px;
  border-radius: 5px;
  color: #3B3B58;
}

.iconos .carrito:hover, .iconos .usuario:hover {
  background-color: #3B3B58;
  color: #FFFFFF;
}

/* Estilo del Modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #f9f9f9;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

#cart-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3B3B58; /* Color de fondo */
  color: #F3F1E5; /* Color del texto */
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#cart-notification.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}

/* ---------------------------- */

/* MAIN */
/* Banner */
.banner {
  width: calc(100% - 0px); /* Restamos 20px para crear espacio a los lados */
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.banner ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 300%; /* Tres imágenes = 300% */
  animation: slide 15s infinite alternate ease-in-out; /* Ajusta duración */
}

.banner li {
  width: 100%; /* Cada imagen ocupa 100% del contenedor */
  list-style: none;
}

.banner img {
  width: 100%;
  display: block;
}

/* Animación de Banner */
@keyframes slide {
  0%, 20% { margin-left: 0; }      
  25%, 45% { margin-left: -100%; } 
  50%, 70% { margin-left: -200%; } 
}

/* Productos Destacados (Populares) */
.productos-destacados h2 {
  font-size: 36px;
  color: #3B3B58;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: start; 
}

.productos-destacados {
  margin-top: 40px;
  padding: 20px;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px; /* Bordes más suaves */
  max-width: 1400px; /* Ancho máximo */
  margin-left: auto; 
  margin-right: auto; /* Centrado */
}

/* Contenedor de los productos */
.populares {
  display: flex;
  flex-wrap: wrap; /* Permite ajuste dinámico */
  justify-content: center; /* Alineación centrada */
  gap: 20px; /* Espaciado entre productos */
}

/* Cada producto */
.popular {
  max-width: 200px;
  background-color: #F3F1E5;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

figcaption{
  font-size: 15px;
  margin-top: 10px;
  padding-top: 12px;
  text-align: center;
}

/* Imagen del producto destacados */
.popular img {
  width: 100%;
  height: 220px;
  object-fit: cover; /* Asegura que la imagen se vea bien */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.3s ease;
}

.popular:hover img {
  transform: scale(1.1); /* Zoom sutil */
}

/* Informacion de Productos */

.info-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FFFFFF;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.info1 img, .info2 img {
  max-width: 100%; /* Se ajusta al tamaño del contenedor */
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.info1, .info2 {
  width: 100%;
  max-width: 500px; /* Limita el ancho de cada columna */
  margin-bottom: 20px;
  text-align: center;
}


.info1 p, .info2 p {
  width: 100%;
  font-size: 16px;
  text-align: justify;
  line-height: 1.8;
  margin-top: 20px; /* Espaciado entre el texto y la imagen */
}


/* Seccion de SuperVentas */
.superventas {
  padding: 25px;
  background-color: #ffffff;
  text-align: center;
}

.superventas h2 {
  font-size: 26px;
  color: #3B3B58;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.productos {
  display: flex;
  flex-wrap: wrap; /* Permite ajuste dinámico */
  justify-content: center; /* Alineación centrada */
}

.producto {
  /* caja de imagenes superventas */
  max-width: 150px;
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}

.producto img {
  /* imagenes de Superventas */
  width: 100%;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Para un efecto suave al hover */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d4a37341;
  color:#d4a373;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight:800;
  opacity: 0;  /* Oculto por defecto */
  transition: opacity 0.3s ease-in-out;
}

.producto:hover .overlay {
  opacity: 1; /* Aparece al hacer hover */
}



/* ---------------------- */

/* FOOTER */

footer {
  background-color: #3B3B58;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}



@media (min-width:769px) {
  /* HEADER */
  header {
    width: 100%;
  }

  header .container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 0px 20px;
    max-width: 1200px; /* Limitar el ancho máximo */
    margin: 0 auto;
  }

  .logo {
    flex: 1; /* Ocupa espacio proporcionalmente */
    text-align: left;
  }

  .menu {
    display: flex;
    flex: 2; /* Ocupa más espacio */
    justify-content: center; /* Centrar el menú */
  }

  .menu ul {
    display: flex;
    width: auto;
    margin: 0;
  }

  .menu ul li {
    padding: 0 15px;
  }

  .menu-toggle {
    display: none; /* Ocultar menú hamburguesa */
  }

  .buscador {
    flex: 1; /* Ocupa espacio proporcional */
    display: flex;
    justify-content: flex-end;
  }

  .iconos {
    display: flex;
    gap: 15px;
    padding: 12px;
  }


  .info-productos {
    max-width: 1200px; /* Limita el ancho total de la sección */
    gap: 30px; /* Espaciado entre las secciones de la información */
  }

  .info1, .info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 /* Productos Destacados (Populares) */

  .productos-destacados h2 {
    text-align: center;
  }

}