/* Teléfonos móviles (diseño principal) */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #F3F1E5;
  color: #2E2E2E;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #3B3B58;
  color: #FFFFFF;
  padding: 10px 0px;
  text-align: center;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo */
.logo h1 a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: italic;
  color: #D4A373;
  text-decoration: none;
}

/* Menú */
.menu {
  display: none;
  width: 100%;
}

.menu.active{
  display: flex; 
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 400px; /* Limita el ancho */
  padding: 0px 0px 10px 0px; /* Espaciado interno */
 
}

.menu-toggle {
  display: flex; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
  flex-direction: column;
  cursor: pointer;
  margin: 10px 0px 2px 0px;
}

.menu-toggle .bar {
  /*Modificaciones para el icono de hamburgues*/
  width: 25px; 
  height: 3px;
  background-color: #FFFFFF;
  margin: 3px 0;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.menu ul li {
  text-align: center;
  width: 100%;
}

.menu ul li a {
  /* Diseño para efecto de navegacion */
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.menu ul li a:hover {
  background-color: #D4A373;
  color: #3B3B58;
  border-radius: 5px;
}

/* Buscador */
.buscador {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
}

.buscador input {
  width: 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #D4A373;
  outline: none;
}

.buscador i {
  position: absolute;
  color: #3B3B58; 
  right: 10px; /* Ajusta la posición a la derecha */
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer;
}

.buscador input {
  /* Efecto del buscador */
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D4A373;
  outline: none;
  transition: width 0.4s;
}

.buscador input:focus{
 width: 400px;
}

/* Íconos */
.iconos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.iconos .carrito, .iconos .usuario {
  background-color: #D4A373;
  padding: 8px;
  border-radius: 5px;
  color: #3B3B58;
}

.iconos .carrito:hover, .iconos .usuario:hover {
  background-color: #3B3B58;
  color: #FFFFFF;
}

#cart-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3B3B58; /* Color de fondo */
  color: #F3F1E5; /* Color del texto */
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#cart-notification.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}


/*---------------------  */

/* MAIN */

.detalleProducto{
margin: 5px;
padding: 10px;}

.imagenDetalle img{
  width: 100%;  
}

.infoProducto{
  margin-left: 12px;
  padding-left: 5px;
}

.titulo{
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.subtitulo{
  font-size: 12px;
  text-align:right;
  color: #D4A373;
  
}

.infoProducto .disponibles{
  font-size: 12px;
  color: crimson;
}

.infoProducto .precio{
  font-size: 25px ;
}




.contador {
  text-align: center;
  align-items: center;
  margin: 10px 0;
}

.contador-btn {
  background-color: #D4A373;
  color: #3B3B58;
  border: none;
  padding: 3px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  margin: 0 12px;
  transition: background-color 0.3s;
  
}

.contador-btn:hover {
  background-color: #3B3B58;
  color: #FFFFFF;
}

.contador-cantidad {
  font-size: 18px;
  margin: 0 10px;
}

.boton-container{
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 20px;
}

.añadirAlCarrito {
  background-color: #795204;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}

.añadirAlCarrito:hover {
  background-color: #3B3B58;
}

.descripcionProducto {
  margin-top: 20px;
}

.descripcionProducto h2 {
  font-size: 20px;
  margin-bottom: 15px;
  text-decoration: underline;
}

.descripcionProducto p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}


.recomendados {
  text-align: center;
  padding: 15px;
}

.recomendados h2 {
  font-size: 24px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.Carrusel {
  width: 100%;
  background-color: #D4A373;
  overflow: hidden;
  position: relative;
}

.slick-list {
  display: flex;
  overflow: hidden;
  width: 50%;

  margin: auto;
}

.slick-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slick {
  min-width: 45%;
  padding: 10px;
}

.slick img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.slick img:hover{
  transform: scale(1.1);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  }

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  z-index: 10;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

/* ---------------------------- */

/* FOOTER */

footer {
  background-color: #3B3B58;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* MEDIA QUERIES */

@media (min-width:769px){
  /* HEADER */
  header {
    width: 100%;
  }

  header .container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding: 0px 20px;
    max-width: 1200px; /* Limitar el ancho máximo */
    margin: 0 auto;
  }

  .logo {
    flex: 1; /* Ocupa espacio proporcionalmente */
    text-align: left;
  }

  .menu {
    display: flex;
    flex: 2; /* Ocupa más espacio */
    justify-content: center; /* Centrar el menú */
  }

  .menu ul {
    display: flex;
    width: auto;
    margin: 0;
  }

  .menu ul li {
    padding: 0 15px;
  }

  .menu-toggle {
    display: none; /* Ocultar menú hamburguesa */
  }

  .buscador {
    flex: 1; /* Ocupa espacio proporcional */
    display: flex;
    justify-content: flex-end;
  }

  .iconos {
    display: flex;
    gap: 15px;
    padding: 12px;
  }

  /* MAIN */

  .detalleProducto {
    display: flex;
    padding: 15px;
    margin: 10px;  
  }

  .imagenDetalle {
    flex: 1;
    margin: 10px;
    padding: 12px;
    text-align: center;
    background-color: #d2c7c7a3;
    border: 1px solid #FFFFFF;
  }

  .imagenDetalle img{
    width: 55%  ;
  }

  .infoProducto {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 20px;
  }

  .titulo{
    text-align: left;
    margin: 0;
  }

  .subtitulo{
    font-size: 12px;
    text-align:left;
    padding-bottom: 15px;
    border-bottom: 2px solid #3b3b5874; /* Color de la línea */
  }
  
  .disponibles, .precio{
    text-align: left;
  }

  .precio{ 
    padding: 50px 0px;
  }

  .contador{
    display: flex;
    justify-content: space-between; /* Esto distribuye el espacio entre el contador y el botón */
    width: 100%;
    gap: 15px;
  }
  
  .contador-btn { 
    font-size: 28px;
    width: 18%;
  }
  
  
  .añadirAlCarrito {
    font-size: 20px;
    width: 78%;
  }
  

  .contador {
    text-align: start;
    margin: 10px 0;
  }

  .boton-container{
    display: flex;
    justify-content: flex-end; /* Mueve el botón hacia la derecha */
    width: 100%;
    margin-top: 20px;
  }

  .descripcionProducto {
    display: block;
    padding: 15px;
    margin: 20px;
 }


 .descripcionProducto p{
  margin: 5px;
  padding: 10px 10px 10px 0px;
  line-height: 1.8;
  font-size: 17px;
 }

  /*CARRUSEL */
  .Carrusel {
    margin: auto;
    padding: 20px 0px;
  }
  .slick {
    min-width: 10%;
  }
  
  .slick-list {
    width: 75%;
    height: 50%;

  }
  .slick img {
    width: auto;
    height: 250px;
   
  }
  
 
  .slick-prev {
    left: 15px;
  }
  
  .slick-next {
    right: 15px;
  }
}