<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/stylesheets/login.css">

  <!-- Iconos FontAwesome -->
  <script defer src="https://kit.fontawesome.com/ad49d26689.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body class="login-page-body">
  <div class="cajaLogin">
    <h1>Iniciar Sesión</h1>
    <form action="/users/login" method="POST">
      <div class="cajaInput">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" name="email" placeholder="Correo electrónico" required />
      </div>

      <div class="cajaInput">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" name="password" placeholder="Contraseña" required />
      </div>

      <label>
        <input type="checkbox" name="rememberMe" /> Recordarme
      </label>

      <button type="submit">Ingresar</button>

      <div class="contraseñaOlvidada">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
      <div class="sinCuenta">
        <p>¿No tienes cuenta? <a href="/users/register">Regístrate aquí</a></p>
      </div>

    </form>
  </div>

  <!-- Ionicons -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script src="/javascripts/login.js"></script>
</body>
</html>
