<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head', { extraCSS: '<link rel="stylesheet" href="/stylesheets/createyedit.css">' }) %>

<body>
  <%- include('../partials/header') %>

  <div class="container">
    <h1>Crear Nuevo Producto</h1>
    <form action="/products/create" method="POST" enctype="multipart/form-data">
      <label for="nombre">Nombre:</label>
      <input type="text" name="name" id="name" required><br><br>
  
      <label for="descripcion">Descripción:</label>
      <textarea name="description" id="description" required></textarea><br><br>
  
      <label for="precio">Precio:</label>
      <input type="number" name="precio" id="precio" required><br><br>
  
      <label for="autor">Autor:</label>
      <input type="text" name="autor" id="autor" required><br><br>
  
      <label for="image">Imagen:</label>
      <input type="file" name="image" id="image">

  
      <label for="categories">Categorías:</label>
      <input type="text" name="category" id="category">
  
      <button type="submit">Crear Producto</button>
    </form>
  </div>

  <%- include('../partials/footer') %>
</body>
</html>
