<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head') %>

    
    <body>

        <%- include('./partials/header')%>
        
        
        <main class="container">
            <h2>Nuevo Producto</h2>
            <form action="/products" method="POST">
                <input type="text" name="name" placeholder="Nombre del producto" required>
                <input type="number" name="price" step="0.01" placeholder="Precio" required>
                <textarea name="description" placeholder="Descripción"></textarea>
                <input type="text" name="image" placeholder="URL de la imagen">
                <button type="submit">Crear Producto</button>
            </form>
            
        </main>

        <%- include('./partials/footer')%>

        <script src="javascripts/menuToggle.js"></script>

    </body>
</html>